- init_class_infos
- content_for :sidebar do
  = render "admin/shared/sidebar_tabs", tabs: @tabs
  = render "search_form"

-# preview(@item, send("#{@__model_name_singular}_preview_path", @items))

.tab-content
  - tab @tabs, :general do
    - url = [[@__namespaces], @item].flatten.reject(&:blank?)
    = simple_form_for url, html: { class: simple_form_classes, autocomplete: "off" } do |f|
      = render f
      = submit_button f

  - tab @tabs, :images do
    = render "admin/images/upload_tab", imageable: @item, copiable: true

