- unless defined?(scope); scope = nil; end
- url = send([scope, resource_name, "confirmation_path"].reject(&:blank?).join("_"))
= simple_form_for resource, as: resource_name, url: url, method: "post", html: { class: simple_form_classes } do |f|
  - if @page_heading.present?
    %h1.heading= @page_heading
  = render "admin/shared/errors", resource: resource
  = f.input :email, wrapper_html: { class: "size-m" }, required: true
  = submit_button f

